apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
      - name: laravel
        image: amcs25/gestion-etudiant:v1
        env:
        - name: DB_HOST
          value: "mariadb-service"
        - name: DB_DATABASE
          value: "gestionEtudiant"
        - name: DB_USERNAME
          value: "root"
        - name: DB_PASSWORD
          value: "secretpassword"
---
apiVersion: v1
kind: Service
metadata:
  name: laravel-service
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 80
  selector:
    app: laravel